Repository hmcts/pcs-api, pull requests merged in 2024-11, with the labels that each got.

#8 Add Postgresql Database
  build.gradle
  charts/pcs-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-8

#9 Add AAT postgresql temporarily
  charts/pcs-api/values.aat.template.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-9

#10 Enable appinsights
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.preview.template.yaml
  charts/pcs-api/values.yaml
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-10

#11 Add pcs db
  infrastructure/database.tf
  infrastructure/variables.tf
Labels: ns:pcs, prd:pcs, aat/add-or-update, rel:pcs-api-pr-11

#12 Add aat db connection
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.aat.template.yaml
  charts/pcs-api/values.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-12

#16 HDPI-81 - Local Database setup
  .env
  README.md
  docker-compose.yml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-16
