Repository hmcts/pcs-api, pull requests merged in 2025-05, with the labels that each got.

#159 Upload ccd definition to preview
  Jenkinsfile_CNP
  bin/create-xlsx.sh
  build.gradle
  charts/pcs-api/values.ccd.preview.template.yaml
  src/cftlib/java/uk/gov/hmcts/reform/pcs/CftlibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/TestWithCCD.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/config/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CreateTestCase.java
  src/main/resources/application-config-gen.yaml
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-159

#148 HDPI-352 Enhance GET /courts API to fetch mapping courts of epimId
  Jenkinsfile_CNP
  build.gradle
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.preview.template.yaml
  charts/pcs-api/values.yaml
  serenity.properties
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/AuthConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/Endpoints.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/steps/ApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/CourtsEndpointTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/testutils/IdamAuthenticationGenerator.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtControllerIT.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pcs/Application.java
  src/main/java/uk/gov/hmcts/reform/pcs/location/model/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/pcs/location/service/LocationReferenceService.java
  src/main/java/uk/gov/hmcts/reform/pcs/location/service/api/LocationReferenceApi.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtController.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/model/Court.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcs/location/service/LocationReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtEntityControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-148

#194 Ignored test "Courts endpoint - returns 200 and expected court data for valid postcode" as required test data is not available in AAT env.
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/CourtsEndpointTests.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-194

#196 HDPI-750 - Switching to Azure DevOps Artefacts
  build.gradle
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-196

#198 HDPI-750 - Switching to Azure DevOps Artefacts
  settings.gradle
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-198

#189 HDPI-670: Change postcode mappings effective from/to timestamps to dates
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/config/AbstractPostgresContainerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/dashboard/DashboardNotificationsIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/openapi/OpenAPIPublisherTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/init.sql
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/entity/PostCodeCourtEntity.java
  src/main/resources/db/migration/V002__postcode_court_dates.sql
  src/main/resources/db/testdata/V002.1__postcode_test_data.sql
  src/main/resources/db/testdata/V100__preview_test_data.sql
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-189

#176 HDPI-614: Rest Assured framework improvements
  README.md
  serenity.properties
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/CourtConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/TestConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/steps/ApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/CourtsEndpointTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/DashboardNotificationsEndpointTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/DashboardTasksEndpointTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/testutils/IdamAuthenticationGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/testutils/ServiceAuthenticationGenerator.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-176

#197 HDPI-709: Remove spaces from postcode passed in court lookup API request
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-197

#142 HDPI 502 - add notifications to db
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportNotificationIT.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pcs/notify/domain/CaseNotification.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/model/NotificationStatus.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/repository/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportExceptionHandler.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V004__case_notification.sql
  src/smokeTest/java/uk/gov/hmcts/reform/pcs/controllers/SampleSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportExceptionHandlerTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-142

#212 HDPI-796 - Fixing contract tests in the master pipeline
  src/contractTest/java/uk/gov/hmcts/reform/pcs/contract/DisableFlywayConfig.java
  src/contractTest/java/uk/gov/hmcts/reform/pcs/contract/LocationReferenceDataApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/pcs/contract/ServiceAuthorisationConsumerTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-212

#217 HDPI-804 removing SpringBootTest from contract tests
  src/contractTest/java/uk/gov/hmcts/reform/pcs/contract/DisableFlywayConfig.java
  src/contractTest/java/uk/gov/hmcts/reform/pcs/contract/LocationReferenceDataApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/pcs/contract/ServiceAuthorisationConsumerTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-217

#186 HDPI-505: Write notification status to DB
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportNotificationIT.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/domain/CaseNotification.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/model/NotificationStatus.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/repository/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationServiceTest.java
Labels: aat/no-changes, ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-186

#229 HDPI-662
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/CourtConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/CourtsEndpointTests.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-229
