Repository hmcts/pcs-api, pull requests merged in 2025-04, with the labels that each got.

#118 Change primary key for postcode lookup
  infrastructure/database.tf
  src/main/resources/db/migration/V001__postcode_court.sql
Labels: ns:pcs, prd:pcs, enable_keep_helm, aat/add-or-update, rel:pcs-api-pr-118

#128 Add test data for post code look up
  charts/pcs-api/values.preview.template.yaml
  src/main/resources/application.yaml
  src/main/resources/db/testdata/V100__preview_test_data.sql
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-128

#122 HDPI-290
  Jenkinsfile_CNP
  bin/create-xlsx.sh
  build.gradle
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-122

#126 Converting unit tests to use AssertJ instead of Jupiter
  src/test/java/uk/gov/hmcts/reform/pcs/notify/endpoint/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationServiceTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-126

#139 Implement PCS API structure for tasks
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/dashboard/DashboardNotificationsIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerIT.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/controllers/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/endpoint/DashboardController.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/model/DashboardNotification.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/model/Task.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/model/TaskGroup.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardNotificationService.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardTaskService.java
  src/main/java/uk/gov/hmcts/reform/pcs/exception/CaseNotFoundException.java
  src/test/java/uk/gov/hmcts/reform/pcs/controllers/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/endpoint/DashboardControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/endpoint/DashboardControllerTest.java
Labels: aat/no-changes, ns:pcs, prd:pcs, rel:pcs-api-pr-139

#132 Testing support package
  charts/pcs-api/values.aat.template.yaml
  charts/pcs-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportControllerTest.java
Labels: aat/no-changes, ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-132

#136 HDPI-499: Return mock data from dashboard notifications endpoint
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/Endpoints.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/steps/ApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/DashboardNotificationsEndpointTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/DashboardTasksEndpointTests.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/SampleFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/testutils/ServiceAuthenticationGenerator.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/dashboard/DashboardNotificationsIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerIT.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/controllers/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/endpoint/DashboardController.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/model/DashboardNotification.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/model/Task.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/model/TaskGroup.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardNotificationService.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardTaskService.java
  src/main/java/uk/gov/hmcts/reform/pcs/exception/CaseNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportController.java
  src/test/java/uk/gov/hmcts/reform/pcs/controllers/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/endpoint/DashboardControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/endpoint/DashboardControllerTest.java
Labels: aat/no-changes, ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-136

#160 HDPI-625 Replicate CVE Changes from Enforcement to PCS
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-160

#130 Requirement/hdpi 351 extend pcs api to fetch e pims id from postcode look up
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/config/AbstractPostgresContainerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/dashboard/DashboardNotificationsIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/openapi/OpenAPIPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtControllerIT.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/init.sql
  src/main/java/uk/gov/hmcts/reform/pcs/Application.java
  src/main/java/uk/gov/hmcts/reform/pcs/audit/Audit.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/DataSourceProperties.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/FlywayProperties.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtController.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/entity/PostCodeCourtEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/entity/PostCodeCourtKey.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/repository/PostCodeCourtRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/main/resources/application.yaml
  src/main/resources/db/testdata/V100__preview_test_data.sql
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtEntityControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtEntityServiceTest.java
Labels: aat/no-changes, ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-130

#149 HDPI-504: Get email delivery Status (Asynchronously)
  src/main/java/uk/gov/hmcts/reform/pcs/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-149

#164 HDPI-602
  build.gradle
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-164
