Repository hmcts/pcs-api, pull requests merged in 2025-06, with the labels that each got.

#225 fix: updated api to reflect metadata
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/steps/ApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/DashboardTasksEndpointTests.java
  src/functionalTest/resources/responses/dashboardTasksResponse.json
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/dashboard/DashboardNotificationsIT.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/model/TaskGroup.java
  src/main/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardTaskService.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/endpoint/DashboardControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/DashboardTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/dashboard/service/endpoint/DashboardControllerTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-225

#236 HDPI-787: Use system user ID tokens for service calls
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.preview.template.yaml
  charts/pcs-api/values.yaml
  src/cftlib/java/uk/gov/hmcts/reform/pcs/CftlibConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/util/IdamHelper.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pcs/exception/IdamException.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/service/HmcHearingService.java
  src/main/java/uk/gov/hmcts/reform/pcs/idam/IdamService.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtController.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/hearings/service/HmcHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-236

#260 Disable flyway migrations to fix generateCCDConfig task
  build.gradle
  settings.gradle
  src/main/resources/application-config-gen.yaml
Labels: ns:pcs, prd:pcs, pr-values:ccd, rel:pcs-api-pr-260

#265 HDPI-772, HDPI-503, HDPI-604
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/NotifyControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportNotificationIT.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/config/NotificationErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/exception/PermanentNotificationException.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/exception/TemporaryNotificationException.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/model/EmailNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/model/EmailNotificationResponse.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/model/EmailState.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/model/NotificationStatus.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/task/SendEmailTaskComponent.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/task/VerifyEmailTaskComponent.java
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/NotifyController.java
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcs/notify/config/NotificationErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/task/SendEmailTaskComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/task/VerifyEmailTaskComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/NotifyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportControllerTest.java
Labels: aat/no-changes, ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-265

#289 Testing changes
  Jenkinsfile_nightly
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-289

#279 HDPI-629 Postcode EpimID look up date logic
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/CourtConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/CourtsEndpointTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/repository/PostCodeCourtRepositoryIT.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/repository/PostCodeCourtRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/main/resources/db/testdata/V002.1__postcode_test_data.sql
  src/test/java/uk/gov/hmcts/reform/pcs/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-279

#311 HDPI-1013: Upgrade to Spring Boot 3.4.7 to fix a dependency vulnerabi…
  build.gradle
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-311

#310 HDPI-719-Improve-automated-test-reporting-for-UI-tests-allure
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/e2eTest/package.json
  src/e2eTest/playwright.config.ts
  src/e2eTest/tests/createCaseWithAddress.spec.ts
  src/e2eTest/yarn.lock
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-310

#312 HDPI-1035
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pcs/notify/config/NotificationErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/entities/CaseNotification.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/repository/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pcs/notify/task/SendEmailTaskComponent.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/config/NotificationErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/notify/task/SendEmailTaskComponentTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-312

#287 Hdpi 956 decentralised case in preview
  build.gradle
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.ccd.preview.template.yaml
  charts/pcs-api/values.preview.template.yaml
  src/cftlib/java/uk/gov/hmcts/reform/pcs/CftlibConfig.java
  src/cftlib/resources/cftlib-am-role-assignments.json
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/CitizenCreateApplicationTest.java
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/TestWithCCD.java
  src/e2eTest/tests/createCaseWithAddress.spec.ts
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/ShowConditions.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/accesscontrol/CaseworkerAccess.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/accesscontrol/CitizenAccess.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/accesscontrol/ExternalUserRole.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/accesscontrol/RoleToAccessProfiles.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/accesscontrol/RoleType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/accesscontrol/UserRole.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/config/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PCSCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/State.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/entity/AddressEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/entity/PcsCaseEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CaseworkerUpdateApplication.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CitizenCreateApplication.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CitizenSubmitApplication.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CitizenUpdateApplication.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/EventId.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/repository/PcsCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseService.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/MapperConfig.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V006__case_tables.sql
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/event/BaseEventTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/event/CitizenCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/event/CitizenSubmitApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/event/CitizenUpdateApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-287
