Repository hmcts/pcs-api, pull requests merged in 2025-02, with the labels that each got.

#50 HDPI-120 Functional test framework
  .gitignore
  Jenkinsfile_CNP
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/controllers/SampleFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/steps/ApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/SampleFunctionalTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-50

#55 Adding service-auth-api to docker-compose.yml
  .env
  docker-compose.yml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-55

#60 Initial changes for hmc integration
  .gitignore
  build.gradle
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.preview.template.yaml
  charts/pcs-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerIT.java
  src/main/java/uk/gov/hmcts/reform/pcs/Application.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/constants/HearingConstants.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/Attendee.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/CaseCategory.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/DeleteHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/GetHearingResponse.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/GetHearingsResponse.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HearingRequest.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HmcHearingResponse.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/HmcHearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/OrganisationDetails.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/PanelRequirements.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/RelatedParty.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/RequestDetails.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/UnavailabilityDow.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/UnavailabilityRanges.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/model/UpdateHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/service/HmcHearingService.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/service/api/HmcHearingApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/hearings/service/HmcHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-60

#63 Disabling E2E UI tests in preview builds due to coverage from API tests
  Jenkinsfile_CNP
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-63

#65 Adding hearings package to springdoc packages so we can see it in the swagger UI
  src/main/resources/application.yaml
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-65

#66 Cleaning up all known code smells
  src/main/java/uk/gov/hmcts/reform/pcs/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/service/HmcHearingService.java
  src/test/java/uk/gov/hmcts/reform/pcs/hearings/service/HmcHearingServiceTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-66

#68 HDPI-200 Switching to only bind ID in the controller, not in two places
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/service/HmcHearingService.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-68

#72 Add servicebus charts
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.preview.template.yaml
  charts/pcs-api/values.yaml
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-72

#79 Verify ignore deletion flag for servicebus subscription
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.preview.template.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-79
