Repository hmcts/pcs-api, pull requests merged in 2025-07, with the labels that each got.

#324 Hdpi 879 create a document via doc assembly unhappy paths
  src/main/java/uk/gov/hmcts/reform/pcs/document/service/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportController.java
  src/test/java/uk/gov/hmcts/reform/pcs/document/service/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportControllerTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-324

#331 HDPI-1242: Upgrade commons-upload to fix CVE-2025-48976
  build.gradle
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-331

#335 Allow this build to be used in a Gradle composite build
  build.gradle
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-335

#334 Enabling Auth and s2s token in swagger for all endpoints
  src/main/java/uk/gov/hmcts/reform/pcs/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtController.java
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportController.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-334

#330 HDPI-752: Exclude postcode mappings that have already expired
  tools/postcode-to-epims/data/sample-source-mappings.csv
  tools/postcode-to-epims/src/csv-parser.js
  tools/postcode-to-epims/src/index.js
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-330

#333 Updated EXUI e2e Tests follow relative pattern method. Rempoved fixtu…
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  src/e2eTest/commonSteps/caseCreation.ts
  src/e2eTest/config/global-setup.config.ts
  src/e2eTest/config/global-teardown.config.ts
  src/e2eTest/config/test.config.ts
  src/e2eTest/data/case.data.ts
  src/e2eTest/data/permanent-users.data.ts
  src/e2eTest/data/test.data.json
  src/e2eTest/fixtures/login.fixture.ts
  src/e2eTest/helpers/actions.helper.ts
  src/e2eTest/helpers/idam-helpers/idam.helper.ts
  src/e2eTest/package.json
  src/e2eTest/playwright.config.ts
  src/e2eTest/tests/createCaseWithAddress.spec.ts
  src/e2eTest/tsconfig.json
  src/e2eTest/utils/actions/custom-actions/login.action.ts
  src/e2eTest/utils/actions/custom-actions/navigateToUrl.action.ts
  src/e2eTest/utils/actions/element-actions/check.action.ts
  src/e2eTest/utils/actions/element-actions/clear.action.ts
  src/e2eTest/utils/actions/element-actions/click.action.ts
  src/e2eTest/utils/actions/element-actions/double-click.action.ts
  src/e2eTest/utils/actions/element-actions/fill.action.ts
  src/e2eTest/utils/actions/element-actions/select.action.ts
  src/e2eTest/utils/controller.ts
  src/e2eTest/utils/helpers/idam-helpers/idam.helper.ts
  src/e2eTest/utils/helpers/idam-helpers/rest.helper.ts
  src/e2eTest/utils/helpers/idam-helpers/retry.helper.js
  src/e2eTest/utils/helpers/idam-helpers/testConfig.ts
  src/e2eTest/utils/helpers/runChangedTest.helper.ts
  src/e2eTest/utils/interfaces/action.interface.ts
  src/e2eTest/utils/interfaces/validation.interface.ts
  src/e2eTest/utils/registry/action.registry.ts
  src/e2eTest/utils/registry/validation.registry.ts
  src/e2eTest/utils/validations/element-validations/attribute.validation.ts
  src/e2eTest/utils/validations/element-validations/bannerAlert.validation.ts
  src/e2eTest/utils/validations/element-validations/checked.validation.ts
  src/e2eTest/utils/validations/element-validations/count.validation.ts
  src/e2eTest/utils/validations/element-validations/css.validation.ts
  src/e2eTest/utils/validations/element-validations/enabled.validation.ts
  src/e2eTest/utils/validations/element-validations/text.validation.ts
  src/e2eTest/utils/validations/element-validations/value.validation.ts
  src/e2eTest/utils/validations/element-validations/visibility.validation.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-333

#352 Skipped/disabled the test as AAT does not support case creation due to CCD decentralisation
  src/e2eTest/tests/createCaseWithAddress.spec.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-352

#340 HDPI-1245: Add user's PCQ ID to case persistence
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PCSCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/Party.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/entity/PartyEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/entity/PcsCaseEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/repository/PcsCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseService.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/IdamAuthenticationFilter.java
  src/main/java/uk/gov/hmcts/reform/pcs/exception/SecurityContextException.java
  src/main/java/uk/gov/hmcts/reform/pcs/security/SecurityContextService.java
  src/main/resources/db/migration/V007__party_table.sql
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/config/IdamAuthenticationFilterTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/security/SecurityContextServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-340

#359 HDPI-1252: Upgrade to CftLib 0.20.0-alpha.31 for AAT support
  README.md
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-359

#346 HDPI-970 Fixing mockito warning in build logs
  build.gradle
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-346

#375 HDPI-1285: Add endpoint to get postcode eligibility
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/PostcodeEligibilityIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/controller/PostCodeCourtControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/repository/PostCodeCourtRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/repository/CourtEligibilityRepository.java
  src/integrationTest/resources/data.sql
  src/main/java/uk/gov/hmcts/reform/pcs/config/ClockConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/entity/CourtEligibilityEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/entity/PostCodeCourtKey.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/model/EligibilityResult.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/model/EligibilityStatus.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/model/LegislativeCountry.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/model/PostcodeCourtMapping.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/repository/PostCodeCourtRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/EligibilityService.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PartialPostcodesGenerator.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/main/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportController.java
  src/main/resources/db/migration/V009__rename_epimid_column.sql
  src/main/resources/db/testdata/V008.1__court_eligibility_test_data.sql
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/EligibilityServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PartialPostcodesGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/testingsupport/endpoint/TestingSupportControllerTest.java
  tools/postcode-to-epims/src/csv-parser.js
  tools/postcode-to-epims/src/sql-generator.js
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-375

#370 HDPI-1277 Trigger case management venue allocation upon payment
  build.gradle
  config/owasp/suppressions.xml
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/CitizenCreateApplicationTest.java
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/TestWithCCD.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PCSCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PaymentType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/State.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/entity/PcsCaseEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/EventId.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/ProcessClaimPayment.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/claimpayment/ClaimPayment.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/renderer/ClaimPaymentTabRenderer.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseService.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/PebbleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/exception/TemplateRenderingException.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/main/resources/db/migration/V008__court_eligibility_table.sql
  src/main/resources/db/migration/V010__case_management.sql
  src/main/resources/templates/claimPaymentTab.peb
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/event/ProcessClaimPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtServiceTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-370

#387 Revert "HDPI-1277 Trigger case management venue allocation upon payme…
  build.gradle
  config/owasp/suppressions.xml
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/CitizenCreateApplicationTest.java
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/TestWithCCD.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PCSCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PaymentType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/State.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/entity/PcsCaseEntity.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/EventId.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/ProcessClaimPayment.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/claimpayment/ClaimPayment.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/renderer/ClaimPaymentTabRenderer.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseService.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/PebbleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/exception/TemplateRenderingException.java
  src/main/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtService.java
  src/main/resources/db/migration/V008__court_eligibility_table.sql
  src/main/resources/db/migration/V010__case_management.sql
  src/main/resources/templates/claimPaymentTab.peb
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/CCDCaseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/event/ProcessClaimPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/service/PcsCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/postcodecourt/service/PostCodeCourtServiceTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-387

#367 Hdpi 1316
  .env
  README.md
  build.gradle
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.yaml
  docker-compose.yml
  src/main/resources/application.yaml
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-367

#390 HDPI-1285 Integration & functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/config/Endpoints.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcs/functional/tests/ClaimEligibilityTests.java
  src/functionalTest/resources/responses/claimEligibilityEligibleResponse.json
  src/functionalTest/resources/responses/claimEligibilityLegislativeCountryRequired.json
  src/functionalTest/resources/responses/claimEligibilityNotEligibleResponse.json
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/postcodecourt/PostcodeEligibilityIT.java
  src/integrationTest/resources/data.sql
  src/main/resources/db/testdata/V010.1__update_postcode_test_data_with_crossborder_postcodes.sql
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-390

#398 HDPI-1274: Screens for claim type check
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PCSCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/VerticalYesNo.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CreatePossessionClaim.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/ClaimTypeNotEligibleEngland.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/ClaimTypeNotEligibleWales.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/SelectClaimType.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/domain/VerticalYesNoTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/SelectClaimTypeTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-398

#399 HDPI-1302: Disable Jackson autoclose
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pcs/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/JacksonConfigurationVerifier.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-399

#403 Revert "HDPI-1274: Screens for claim type check"
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PCSCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/VerticalYesNo.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CreatePossessionClaim.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/ClaimTypeNotEligibleEngland.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/ClaimTypeNotEligibleWales.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/SelectClaimType.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/domain/VerticalYesNoTest.java
  src/test/java/uk/gov/hmcts/reform/pcs/ccd/page/createpossessionclaim/SelectClaimTypeTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-403

#406 Added test-README.md for e2e tests and renamed 'fill' to 'inputText'
  src/e2eTest/config/global-teardown.config.ts
  src/e2eTest/test-README.md
  src/e2eTest/tests/createCaseWithAddress.spec.ts
  src/e2eTest/tests/searchCase.spec.ts
  src/e2eTest/update-testReadme.ts
  src/e2eTest/utils/actions/custom-actions/login.action.ts
  src/e2eTest/utils/actions/element-actions/inputText.action.ts
  src/e2eTest/utils/controller.ts
  src/e2eTest/utils/helpers/dataStoreApi.ts
  src/e2eTest/utils/registry/action.registry.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, pr-values:ccd, rel:pcs-api-pr-406
