Repository hmcts/pcs-api, pull requests merged in 2025-03, with the labels that each got.

#82 Disable servicebus to avoid resource usage till hmc integration
  charts/pcs-api/values.preview.template.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-82

#84 Change to correct service Id for possession
  charts/pcs-api/values.preview.template.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-84

#85 Fix deployment Id filter as per hmc code
  charts/pcs-api/values.preview.template.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-85

#88 Read & log hmc service bus messages
  build.gradle
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.hearings.preview.template.yaml
  charts/pcs-api/values.preview.template.yaml
  charts/pcs-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pcs/Application.java
  src/main/java/uk/gov/hmcts/reform/pcs/hearings/config/HearingsJMSConfiguration.java
  src/main/resources/application.yaml
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-88, pr-values:hearings

#69 Add Cftlib + Config generator
  README.md
  build.gradle
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/pcs/CftlibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/TestWithCCD.java
  src/main/java/uk/gov/hmcts/reform/pcs/Application.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/DefaultStateAccess.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/PCSCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/Party.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/State.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/domain/UserRole.java
  src/main/java/uk/gov/hmcts/reform/pcs/ccd/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/reform/pcs/config/JacksonConfiguration.java
  src/main/resources/application.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-69

#93 Fixing pact tests
  src/contractTest/java/uk/gov/hmcts/reform/pcs/contract/ServiceAuthorisationConsumerTest.java
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-93

#96 Small tweaks in response to Gradle deprecation warnings
  build.gradle
  settings.gradle
Labels: aat/no-changes, ns:pcs, prd:pcs, rel:pcs-api-pr-96

#102 Mocking Integration tests at correct level
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/hearings/endpoint/HearingsControllerIT.java
  src/integrationTest/resources/application-integration.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-api-pr-102

#112 Fixing provider registration
  infrastructure/database.tf
Labels: aat/no-changes, ns:pcs, prd:pcs, rel:pcs-api-pr-112

#111 Add flyway and postcode court mapping sql
  .env
  Jenkinsfile_CNP
  build.gradle
  charts/pcs-api/Chart.yaml
  charts/pcs-api/values.preview.template.yaml
  charts/pcs-api/values.yaml
  src/cftlibTest/java/uk/gov/hmcts/reform/pcs/TestWithCCD.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcs/openapi/OpenAPIPublisherTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/pcs/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcs/data/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pcs/exception/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V001__postcode_court.sql
  src/test/java/uk/gov/hmcts/reform/pcs/data/migration/FlywayNoOpStrategyTest.java
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-api-pr-111
